body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 800;
}
h2{
    color: #707070;
    font-size: 35px;
}
h3{
    color: #0B0D17;
    font-size: 30px;
}
p{
    color: #707070;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 70px;
}
.sec-pera{
    padding-right: 100px;
}
.org-col{
    color: #544BE7;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.navigation{
    display: flex;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to left, #3C33D9, #7A74E0);
}
.nav-img{
    margin-top: 10px;
    margin-left: 50px;
}
.nav-img img{
    width: 50%;
}
.navs{
    width: 1000px;
}
.nav-buttons{
    display: flex;
    margin-top: 13px;
    list-style-type: none;
    margin-left: 300px;
}
.nav-buttons li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 60px;
}
.first-sec{
    color: #575757;
}
.half-width{
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
}
.half-width img{
    width: 85%;
}
.anchor-button{
    color: white;
    padding: 20px 50px;
    margin-top: 100px;
    border-radius: 50px;
    text-decoration: none;
    background-image: linear-gradient(to right, #3C33D9, #7A74E0);
}
.sec-sec{
    background-image: url(../images/mid-sec-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.items-header{
    text-align: center;
    margin: 0% auto;
    width: 60%;
}
.foods{
    width: 20%;
    margin-left: 8%;
    box-shadow: 10px 10px 50px gray;
    padding: 20px 20px 0px 20px;
    border-radius: 30px;
}
.foods img{
    width: 100%;
}
.statistic{
    width: 84%;
    height: 200px;
    border-radius: 20px;
    margin: 100px auto;
    box-shadow: 1px 1px 40px #d8d8d8;
}
.stat{
    text-align: left;
    margin: 0% auto;
}
.stat h1{
    margin-top: 50px;
    margin-bottom: 5px;
}
.stat p{
    margin: 0;
}
.fourth-sec{
    padding-top: 5px;
    width: 100%;
    height: 250px;
    text-align: center;
    background-color: #0B0D17;
}
.fourth-sec h3{
    color: dimgray;
}
.fourth-sec p{
    color: #ededed;
    font-size: 14px;
}
.food-org-gradient{
    background-image: linear-gradient(to right, #3C33D9, #7A74E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}