body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    font-weight: 800;
}
h2{
    color: #707070;
    font-size: 35px;
}
p{
    color: #707070;
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 70px;
}
.sec-pera{
    padding-right: 100px;
}
.org-col{
    color: #544BE7;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.first-sec{
    color: #575757;
}
.half-width{
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.half-width img{
    width: 85%;
}
.anchor-button{
    color: white;
    padding: 20px 50px;
    margin-top: 100px;
    border-radius: 50px;
    text-decoration: none;
    background-image: linear-gradient(to right, #3C33D9, #7A74E0);
}
.sec-sec{
    background-image: url(../images/mid-sec-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.items-header{
    text-align: center;
    width: 0% auto;
}